body{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
    background: #226039 url(../img/bg.jpg)  no-repeat;
    color: #5d5d5d;
}
.header{
	width: 100%;
	margin: auto;
	border-bottom: #3c7a48 1px solid;
	position: relative;
	overflow: hidden;
}
.quotes{
	width: 1200px;
	margin: 0px auto 120px auto;
	overflow: hidden;
}
.quotes p{
	text-shadow: #246640 1px 1px 1px;
	color: #fff;
	width: 330px;
	line-height: 26px;
	color: chocolate;
	font-size: 18px;
}
.text{
	float: left;
	font-family: "微软雅黑";
	font-size: 30px;
	color: #FFF;
	line-height: 131px;
}
.flower{
	float: right;
	background: url(../images/flower.png) no-repeat;
}
.flower img{
	width: 136px;
	height: 115px;
	border-radius: 50px;
}
.nav ul li{
	list-style: none;
	float: left;
	margin-right: 40px;
}
.nav{
	clear: both;
}
 .nav ul{
	font-size: 18px;
	font-weight: bolder;
	color: tomato;
	width: 1200px;
	position: absolute;
    bottom: -20px;
    left: 732px;
}
.main{
	width: 1200px;
	margin:50px auto;
}
.main_left{
	width: 775px;
	border: 1px solid #FF6347;
	float: left;
	font-size: 18px;
	margin-right: 46px;
	color: #FF0000;
	text-align: center;
}
.main_right{
	width: 375px;
	border: 1px solid #0000FF;
	float: left;
	font-size: 18px;
	color: #0000FF;
	
}
.main_right h2{
	margin-left: 15px;
}
.main_right ul{
	margin-left: 30px;
}
