body{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
    background: #226039 url(../img/bg.jpg)  no-repeat;
    color: #5d5d5d;
    font-family:Arial,Helvetica,sans-serif;font-size:100%;
	background-size:contain;
}
ul li a:link{
	color:chocolate;
	text-decoration: none;
}
ul li a:visited{
	color:darkorchid;
	text-decoration: none;
}
ul li a:hover{
	color:#0000FF;
	text-decoration: underline;
}
.text a:hover,.fashion li a:hover {
  color: #0a0a0a;
  text-shadow: 
    /* Color 1 */
    1px 1px #61b4de,
    /* Color 2 */
    2px 2px #91c467,
    /* Color 3 */
    3px 3px #f3a14b,
    /* Color 4 */
    4px 4px #e84c50,
    /* Color 5 */
    5px 5px #4e5965;
}
.text a,.fashion li a{
  color: #ededed;
  font-family: Oswald;
  transition: 0.5s all ease;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 
    /* Color 1 */
    1px 1px #61b4de, 2px 2px #61b4de, 3px 3px #61b4de, 4px 4px #61b4de, 5px 5px #61b4de,
    /* Color 2 */
    6px 6px #91c467, 7px 7px #91c467, 8px 8px #91c467, 9px 9px #91c467, 10px 10px #91c467,
    /* Color 3 */
    11px 11px #f3a14b, 12px 12px #f3a14b, 13px 13px #f3a14b, 14px 14px #f3a14b, 15px 15px #f3a14b,
    /* Color 4 */
    16px 16px #e84c50, 17px 17px #e84c50, 18px 18px #e84c50, 19px 19px #e84c50, 20px 20px #e84c50,
    /* Color 5 */
    21px 21px #4e5965, 22px 22px #4e5965, 23px 23px #4e5965, 24px 24px #4e5965, 25px 25px #4e5965;
}
.header{
	width: 100%;
	margin: auto;
	border-bottom: #3c7a48 1px solid;
	position: relative;
	overflow: hidden;
}
.quotes{
	width: 1200px;
	margin: 0px auto 120px auto;
	overflow: hidden;
}
.quotes p{
	text-shadow: #246640 1px 1px 1px;
	width: 330px;
	line-height: 26px;
	color: tomato;
	font-size: 18px;
	font-weight:bold;
}
.text{
	float: left;
	font-family: "微软雅黑";
	font-size: 30px;
	color: #FFF;
	line-height: 131px;
}
.index{
	text-indent: 37px;
    line-height: 40px;
    margin: 10px 15px;
}
.flower{
	float: right;
	background: url(../images/flower.png) no-repeat;
}
.flower img{
	width: 136px;
	height: 115px;
	border-radius: 50px;
}
.nav ul li{
	list-style: none;
	float: left;
	margin-right: 40px;
}
.nav{
	clear: both;
}
 .nav ul{
	font-size: 18px;
	font-weight: bolder;
	color: tomato;
	width: 1200px;
	position: absolute;
    bottom: -20px;
    left: 610px;
}
.main{
	width: 1200px;
	margin:50px auto;
}
.main_left{
	width: 745px;
	border: 15px solid #FF6347;
	float: left;
	font-size: 18px;
	margin-right: 46px;
	color: #FF0000;
	text-align: center;
}
.main_right{
	width: 345px;
	border: 15px solid chocolate;
	float: left;
	font-size: 18px;
	color: chocolate;
	
}
.main_right h2{
	margin-left: 35px;
}
.main_right ul{
	margin-left: 50px;
}
.asymmetric-radius{
	border-radius: 90px 60px 30px 5px;
}
.asymmetric-corners {
  border-radius: 90px 60px 30px 5px;
}

